<% provide :title, "Giới Thiệu" %>

<div class="container introduce">
  <div class="wrapper-introduce">
    <h2 class="title">giới thiệu</h2>
    <br/>
    <p>Chúng tôi sở hữu đội ngũ kỹ sư tư vấn, nhiều năm kinh nghiệm làm việc tại các tập đoàn đa quốc gia trong lĩnh vực: Lọc Khung Bản
      <i>Filter press,</i> Lọc Băng Tải
      <i>Vacuum Belt Filter, </i> Lọc Đĩa
      <i>Disc Filter, </i> Lọc Lá
      <i>Leaf filter, </i> Lọc
      <i>Diastar Filter...</i> Phục vụ công nghiệp Khai Khoán, Hóa Chất, Thực Phẩm và Xử Lý Bùn Thải môi trường.</p>
    <p>Chúng tôi am hiểu ứng dụng và hiểu rõ những điều khách hàng đang cần. Chúng tôi không dừng bước và tiếp tục lắng nghe, chia sẻ và học hỏi những kinh nghiệm, các vấn đề từ phía khách hàng. Để giúp chúng tôi thực hiện thành công mục tiêu
      <i><%= link_to "HÔM NAY PHẢI TỐT HƠN HÔM QUA.", home_index_path %></i>
    </p>
    <p>Chúng tôi mang đến giải pháp vải lọc phù hợp cho từng yêu cầu. Với chất lượng, giá cả tối ưu hóa cho ứng dụng. Đặc biệt nhằm nâng cao chất lượng dịch vụ sau bán hàng. Chúng tôi sẵn sàng hỗ trợ lắp đặt vải lọc cho các khách hàng có yêu cầu. Với các Doanh Nghiệp thuộc ưu đãi chế xuất VAT 0%, sẽ được chúng tôi hỗ trợ mở tờ khai Xuất – Nhập hai đầu.</p>
    <p>SIROCCO Việt Nam hi vọng được lắng nghe các vấn đề khách hàng đang gặp phải. Để chúng ta cùng nhau tìm giải pháp và hướng đến phát triển, hợp tác lâu dài.</p>
  </div>
</div>
