<div class="container home">
  <h2 class="title">SIROCCO – “ HÔM NAY PHẢI TỐT HƠN HÔM QUA”</h2>
  <div class="content">
    <p>
      Chúng tôi sở hữu đội ngũ kỹ sư tư vấn, nhiều năm kinh nghiệm làm việc tại các tập đoàn đa quốc gia trong lĩnh vực: Lọc Khung Bản Filter press, Lọc Băng Tải Vacuum Belt Filter, Lọc Đĩa Disc Filter, Lọc Lá Leaf filter, Lọc Diastar Filter... Phục vụ công nghiệp Khai Khoán, Hóa Chất, Thực Phẩm và Xử Lý Bùn Thải môi trường.
      <span><a href="#">Chúng tôi am hiểu ứng dụng và hiểu rõ những điều khách hàng đang cần</a></span>
    </p>
  </div>
</div>
