<div class="container home">
  <h2 class="title">SẢN PHẨM TIÊU BIỂU</h2>
  <div class="row content">
    <div class="col-md-4">
      <div class="card" id="product_01">
        <img src="https://korfan.com.vn/uploads/products_categories/QU%E1%BA%A0T_THONG_GIO_VUONG.jpg" class="card-img-top" alt="img_1">
        <div class="card-body">
          <h5 class="card-title title">VẢI LỌC ÉP BÙN</h5>
          <p class="card-text">Sản phẩm Quạt Chống Cháy Nổ với chỉ số Ex d IIB T5 (IP54) cho các dòng sản phẩm : Ly Tâm Chống Cháy Nổ,...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://korfan.com.vn/uploads/products_categories/QU%E1%BA%A0T_THONG_GIO_VUONG.jpg" class="card-img-top" alt="img_1">
        <div class="card-body">
          <h5 class="card-title title">VẢI LỌC ÉP KAO LANH</h5>
          <p class="card-text">Sản phẩm Quạt Chống Cháy Nổ với chỉ số Ex d IIB T5 (IP54) cho các dòng sản phẩm : Ly Tâm Chống Cháy Nổ,...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://korfan.com.vn/uploads/products_categories/QU%E1%BA%A0T_THONG_GIO_VUONG.jpg" class="card-img-top" alt="img_1">
        <div class="card-body">
          <h5 class="card-title title">VẢI LỌC ÉP CaCO3</h5>
          <p class="card-text">Sản phẩm Quạt Chống Cháy Nổ với chỉ số Ex d IIB T5 (IP54) cho các dòng sản phẩm : Ly Tâm Chống Cháy Nổ,...</p>
        </div>
      </div>
    </div>
  </div>
</div>
