<div class="container home">
  <h2 class="title">SẢN PHẨM VẢI LỌC ÉP KHUNG BẢN</h2>
  <div class="row content">
    <div class="col-md-4">
      <div class="card" id="product_01">
        <img src="https://korfan.com.vn/uploads/products_categories/KORFAN_-_Qu%E1%BA%A1t_ch%E1%BB%91ng_ch%C3%A1y_n%E1%BB%95_h%C3%A0n_qu%E1%BB%91c.jpg" class="card-img-top" alt="img_1">
        <div class="card-body">
          <h5 class="card-title title">Quạt chống cháy nổ</h5>
          <p class="card-text">Sản phẩm Quạt Chống Cháy Nổ với chỉ số Ex d IIB T5 (IP54) cho các dòng sản phẩm : Ly Tâm Chống Cháy Nổ,...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://korfan.com.vn/uploads/products_categories/KORFAN_-_Qu%E1%BA%A1t_ch%E1%BB%91ng_ch%C3%A1y_n%E1%BB%95_h%C3%A0n_qu%E1%BB%91c.jpg" class="card-img-top" alt="img_1">
        <div class="card-body">
          <h5 class="card-title title">Quạt chống cháy nổ</h5>
          <p class="card-text">Sản phẩm Quạt Chống Cháy Nổ với chỉ số Ex d IIB T5 (IP54) cho các dòng sản phẩm : Ly Tâm Chống Cháy Nổ,...</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://korfan.com.vn/uploads/products_categories/KORFAN_-_Qu%E1%BA%A1t_ch%E1%BB%91ng_ch%C3%A1y_n%E1%BB%95_h%C3%A0n_qu%E1%BB%91c.jpg" class="card-img-top" alt="img_1">
        <div class="card-body">
          <h5 class="card-title title">Quạt chống cháy nổ</h5>
          <p class="card-text">Sản phẩm Quạt Chống Cháy Nổ với chỉ số Ex d IIB T5 (IP54) cho các dòng sản phẩm : Ly Tâm Chống Cháy Nổ,...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#product_01").click(function () {
     window.location.href("#")
  })
</script>
