.main-header {
  width: 100%;
  margin: 0 auto;
  padding: 1.875em 1.875em 2.875em 1.875em;
  background-color: #C7D9F0;
  .banner {
    margin: 0;
    display: flex;
    .logo {
      color: #224A7B;
      font-size: 4.5em;
      line-height: 1;
      float: left;
      font-weight: 600;
    }
    .slogan {
      color: #000000;
      line-height: 1.3;
      font-size: 2em;
      font-weight: 300;
      margin-left: 10%;
    }
  }
}
@media screen and (max-width: 768px) {
  .main-header {
    .banner {
      flex-direction: column;
    }
  }
}
